
services:
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: namenode
    environment:
      - CLUSTER_NAME=test
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
      - HADOOP_HEAPSIZE=8000
    ports:
      - "9870:9870"
      - "9000:9000"
    volumes:
      - namenode_data:/hadoop/dfs/name
      - ./data:/data
    deploy:
      resources:
        limits:
          cpus: '2.0'
          memory: 8g
        reservations:
          cpus: '1.0'
          memory: 8g

  datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode
    environment:
      - CLUSTER_NAME=test
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
      - HDFS_CONF_dfs_datanode_data_dir=file:///hadoop/dfs/data
      - HADOOP_HEAPSIZE=8000
    ports:
      - "9864:9864"
    volumes:
      - datanode_data:/hadoop/dfs/data
      - ./data:/data
    depends_on:
      - namenode
    deploy:
      resources:
        limits:
          cpus: '2.0'
          memory: 8g
        reservations:
          cpus: '1.0'
          memory: 8g

networks:
  hadoop:
    driver: bridge

volumes:
  namenode_data:
  datanode_data: